---
# options: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: chromium
IndentWidth: 2
# Must be 80 characters or less!
# ColumnLimit: 80
# does (int) x instead of (int)x
SpaceAfterCStyleCast: true
# spaces, not tabs!
UseTab: Never
#
AlignTrailingComments: true
#  #define SHORT_NAME       42
#  #define LONGER_NAME      0x007f   # does nice spacing for macros
AlignConsecutiveMacros: Consecutive
IndentPPDirectives: BeforeHash
